jupyterlab
ipywidgets

pandas
numpy
scipy
natsort

matplotlib
# seaborn
palettable

pillow

tqdm
natsort
humanize

torch
torchvision

# pytorch-summary from head
-e git+git://github.com/sksq96/pytorch-summary.git#egg=pytorch-summary

timm # pretrained models from https://github.com/rwightman/pytorch-image-models

# xgboost
scikit-learn

# networkx
