jupyterlab
ipywidgets

pandas
numpy
scipy
natsort

matplotlib
# seaborn
palettable

pillow

tqdm
natsort
humanize

torch
torchvision

timm # pretrained models from https://github.com/rwightman/pytorch-image-models

# xgboost
scikit-learn

# networkx
